/* .videos {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 27px;
  margin-top: 20px;
}

.videos video {
  background-color: black;
  height: 370px;
  width: 515px;
}

.controls{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.controls button{
  padding-left: 25px;
  padding-right: 25px;
  font-size: 30px;
  border-radius: 14px;
} */
